/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define HOST_OS 2 // MacOS, needed for Unicode Chars, must be defined before including helper.h

// urob helpers
#include "zmk-helpers/helper.h"
#include "zmk-helpers/unicode-chars/german.dtsi"
#include "zmk-helpers/unicode-chars/currency.dtsi"

// personal includes
# include "home-row-mods.dtsi"

#define ___ &trans

// define LAYERS
#define _CMK  0
#define _NAV  1
#define _FN   2
#define _GER  3

&mt {
    tapping-term-ms = <200>;
};

&lt {
    tapping-term-ms = <200>;
       
    // Quickly tap-tap-holding the lt button will repeat the tap behavior
    // For example enter-enter-hold, will output multiple enter while you
    // keep holding the key.
    // But holding enter without double tapping, will activate the layer.
     quick-tap-ms = <150>;

     flavor = "balanced";
};

ZMK_LAYER(colemak_layer,
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮    ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    &kp GRAVE        &kp Q            &kp W            &kp F            &kp P            &kp B                 &kp J            &kp L            &kp U            &kp Y            &kp SEMI         &kp EQUAL
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &kp TAB          &kp A            &hml LCTRL R     &hml LGUI S      &hml LALT T      &kp G                 &kp M            &hmr RALT N      &hmr RGUI E      &hmr RCTRL I     &kp O            &kp SQT
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &kp BSLH         &kp Z            &kp X            &kp C            &kp D            &kp V                 &kp K            &kp H            &kp COMMA        &kp DOT          &kp FSLH         &kp MINUS
// ╰────────────────┴────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
                                                       &lt _FN DEL      &mt LSHFT BSPC   &kp RET               &lt _GER ESC     &lt _NAV SPACE   &kp RALT
//                                                    ╰────────────────┴────────────────┴────────────────╯    ╰────────────────┴────────────────┴────────────────╯
)

ZMK_LAYER(nav_layer,
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮    ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    &none            &kp C_VOL_UP     &kp HOME         &kp UP           &kp END          &kp LEFT_BRACE        &kp RIGHT_BRACE  &kp N7           &kp N8           &kp N9           &none            &none
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &none            &kp C_VOL_DN     &kp LEFT         &kp DOWN         &kp RIGHT        &kp LPAR              &kp RPAR         &kp N4           &kp N5           &kp N6           &kp BSPC         &kp DELETE
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &kp GRAVE        &none            &none            &kp PAGE_UP      &kp PAGE_DOWN    &kp LBKT              &kp RBKT         &kp N1           &kp N2           &kp N3           &kp N0           &none
// ╰────────────────┴────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
                                                       ___              &kp DELETE       &none                 ___              &none            &none
//                                                    ╰────────────────┴────────────────┴────────────────╯    ╰────────────────┴────────────────┴────────────────╯
)

ZMK_LAYER(fn_layer,
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮    ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    &kp F1           &kp F2           &kp F3           &kp F4           &kp F5           &kp F6                &kp F7           &kp F8           &kp F9           &kp F10          &kp F11          &kp F12
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &none            &kp EXCL         &kp AT_SIGN      &kp HASH         &kp DOLLAR       &none                 &none            &kp PERCENT      &kp CARET        &kp AMPS         &kp ASTRK        &none
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &none            &none            &kp K_CUT        &kp K_COPY       &mkp MCLK	     &kp K_PASTE           &none            &kp F1           &kp F2           &kp F3           &kp F12          &none
// ╰────────────────┴────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
                                                       &none            ___              &none                 ___              &none            &none
//                                                    ╰────────────────┴────────────────┴────────────────╯    ╰────────────────┴────────────────┴────────────────╯
)

ZMK_LAYER(german_layer,
// ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮    ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
    ___              ___              ___              ___              ___              ___                   ___              ___              &de_ue           ___              ___              ___
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    &de_ae           ___              &de_eszett       ___              ___              ___                   ___              ___              &curr_euro       ___              &de_oe           ___
// ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
    ___              ___              ___              ___              ___              ___                   ___              ___              ___              ___              ___
// ╰────────────────┴────────────────┴────────────────┴────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
                                                       ___              ___              ___                   ___              ___              ___
//                                                    ╰────────────────┴────────────────┴────────────────╯    ╰────────────────┴────────────────┴────────────────╯
)
